// ------------------------------------------
// color-pallette
// ------------------------------------------
$color-white: #ffffff;
$color-perl: #e8e8e8;
$color-light: #cfd7da;
$color-light-gray: #d0d7db;
$color-gray: #89969d;
$color-gray-alpha-40: rgba(161, 160, 160, 0.4);
$color-dark: #202632;
$color-dark-gray: #2c354a;
$color-dark-alpha-90: rgba(32, 38, 50, 0.9);
$color-dark-alpha-20: rgba(32, 38, 50, 0.2);

$color-background: #ebeff2;
$color-primary: #0ba363;
$color-primary-light: #25c784;
$color-secondary: #828da3;
$color-warning: #e87369;
$color-disabled: #d0d7db;

$color-side-menu-level-1-background: #151c29;
$color-side-menu-level-2-background: #161e2b;
$color-side-menu-level-3-background: #19212f;
$color-side-menu-line-seperator: #111721;

$color-side-menu-dark: #171a29;
$color-side-menu-darker: #131420;
$color-side-menu-medium: #363d4d;
$color-side-menu-light: #73778c;
$color-side-menu-lighter: #fefefc;
$color-side-menu-hover: #9eddc1;
$color-side-menu-disabled-hover: #6e9a87;

$color-gray-header: #70798b;
$color-gray-table-row: rgba(130, 141, 163, 1);
$color-hover-table-row: rgba(11, 163, 100, 0.15);
$color-reports-dark: rgba(130, 141, 163, 0.25);
$color-gray-table-header: #70798b;
$color-reports-darker: #d2d7db;
$color-reports-heading: #0ba364;

$color-button-hover: #25c784;
$color-button-disabled: #828da3;

$color-loader-fill-1: #58595b;
$color-loader-fill-2: #489ebc;
$color-loader-fill-3: #8dc63f;
